@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase
@using IMS.CoreBusiness
@using IMS.UseCases.Inventories.Interfaces

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <InventoryListItemComponent InventoryList="_inventoryList"></InventoryListItemComponent>
    </tbody>
</table>

@code {

    private List<Inventory> _inventoryList = new List<Inventory>();

    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        _inventoryList = (await  ViewInventoriesByNameUseCase.ExecuteAsync(SearchTerm)).ToList();
        
        
    }

}