@using IMS.CoreBusiness
@inject NavigationManager NavigationManager

@foreach (var inv in InventoryList)
{
    <tr>
        <td>@inv.InventoryName</td>
        <td>@inv.Quantity</td>
        <td>@inv.Price.ToString("c")</td>
        <td>
            <button type="button" class="btn btn-light"
                    @onclick="@(() =>EditInventory(inv.InventoryId))">Edit</button>
        </td>
    </tr>
}

@code {
    
    [Parameter]
    public List<Inventory> InventoryList { get; set; }

    private void EditInventory(int inventoryId)
    {
        NavigationManager.NavigateTo($"/editinventory/{inventoryId}");
    }
}